*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: hsl(222 77% 2%);
}

.con{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101px;
    height: 101px;
    border: 2px solid black;
    border-radius: 11px;
    padding: 5px;
}